@import url("https://fonts.googleapis.com/css2?family=Beau+Rivage&display=swap");
.img {
  object-fit: contain;
  height: 70%;
  width: 70%;
  margin-left: 15%;
}
body {
  background-image: linear-gradient(to right, red, orange, yellow);
  background-repeat: no-repeat;
  object-fit: cover;
}
.pallete {
  font-family: "Beau Rivage", cursive;
  font-size: 1.5em;
  text-align: center;
}
.img2 {
  height: 70%;
  width: 70%;
  margin-left: 15%;
}
#txt1 {
  text-align: center;
}
#txt2 {
  text-align: center;
}
#txt3 {
  text-align: center;
}
.img3 {
  height: 50%;
  width: 70%;
  margin-left: 15%;
}
#txt4 {
  text-align: center;
}
.img4 {
  height: 100%;
  width: 95%;
}
#txt6 {
  text-align: center;
}
#txt5 {
  text-align: center;
}
.btn {
  padding: 1%;
  width: 5%;
  background-color: rgb(98, 255, 98);
  border-radius: 5px;
  border: none;
  font-size: medium;
  margin-bottom: 5px;
  margin-left: 46%;
}
